<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AnimeLoupe2x.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AnimeLoupe2x.Properties.Settings>
            <setting name="input_path" serializeAs="String">
                <value />
            </setting>
            <setting name="output_path" serializeAs="String">
                <value />
            </setting>
            <setting name="video2image_flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="video2audio_flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="waifu2x_flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="image2video_flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="add_audio_flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="output_size_rate" serializeAs="String">
                <value />
            </setting>
            <setting name="convert_test_flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="temp_dir_path" serializeAs="String">
                <value>""</value>
            </setting>
        </AnimeLoupe2x.Properties.Settings>
    </userSettings>
</configuration>